<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title>Insert title here</title>
<script src="/lib/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link rel="stylesheet" href="/public/stylesheet/join-page.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>
<body>
<div class="row login container valign">
	<form class="col s8 offset-s2" id="join-form" name="join-form">
		<div class="row">
			<div class="input-field row">
	          <input id="email" type="email" name="email" class="validate">
	          <label for="email">Email 주소를 입력하세요.</label>
	        </div>
		</div>
		<div class="row">
        <div class="input-field row">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password 를 입력하세요.</label>
          </div>
        </div>
        <div class="input-field row">
            <input id="name" type="text" name="name" class="validate">
            <label for="name">이름을 입력하세요.</label>
        </div>
        <div class="input-field row">
            <input id="nickname" type="text" name="nickname" class="validate">
            <label for="nickname">별명을 설정하세요.</label>
        </div>
		<div class="row">
			<a class="col s10 offset-s1 waves-effect waves-light btn join z-depth-3">가입하기</a>
			<a class="col s10 offset-s1 waves-effect waves-light btn login z-depth-3" href="/login">로그인 페이지로</a>
		</div>
	</form>
</div>
<script>
	$('.btn.join').click(function(){
		var $joinForm = $('#join-form');
		$joinForm.submit(function(){
			return false;
		});
		
		var params = $joinForm.serialize();
		$.ajax({
			url : '/rest/member/join',
			type : 'POST',
			data : params,
			success : function(result){
				if(result){
					Materialize.toast(result, 1200);
					setTimeout(function(){
						location.href="/login";
					}, 1200);
				}
			},
			error : function(err){
				//Materialize.toast(err.responseJSON, 1500);
				Materialize.toast("가입도중 문제가 발생하였습니다.", 1500);
			}
		});
	});
</script>
</body>
</html>