<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title>Insert title here</title>
<script src="/lib/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link rel="stylesheet" href="/public/stylesheet/login-page.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>
<body class="valign-wrapper">
	<div class="slider">
		<ul class="slides">
			<li><img src="http://lorempixel.com/580/250/nature/1">
				<div class="caption center-align">
					<h3>힘들다 힘들어</h3>
					<h5 class="light grey-text text-lighten-3">으으 살려줘</h5>
				</div></li>
			<li><img src="http://lorempixel.com/580/250/nature/2">
				<div class="caption left-align">
					<h3>이제는 진짜</h3>
					<h5 class="light grey-text text-lighten-3">자러가야지</h5>
				</div></li>
			<li><img src="http://lorempixel.com/580/250/nature/3">
				<div class="caption right-align">
					<h3>목도 아프다</h3>
					<h5 class="light grey-text text-lighten-3">병원갔다 와야되는데</h5>
				</div></li>
			<li><img src="http://lorempixel.com/580/250/nature/4">
				<div class="caption center-align">
					<h3>프론트는 힘들어</h3>
					<h5 class="light grey-text text-lighten-3">지옥이야 지옥</h5>
				</div></li>
		</ul>
	</div>

	<div class="row btn-container valign center-align">
        <div class="col s12">
			<a class="modal-trigger col s12 waves-effect waves-light btn open-modal-btn z-depth-5">로그인하기</a>
		</div>
		<div class="col s12">
			<a class="col s12 waves-effect waves-light btn join z-depth-5" href="/join">회원가입 페이지로</a>
		</div>
	</div>
	
	<!-- Modal Structure -->
	<div id="login-modal" class="modal z-depth-5 grey lighten-4">
		<div class="modal-content">
			<div class="row login container valign center-align">
				<form class="col m8 offset-m2" id="login-form" name="login-form">
					<div class="row">
						<div class="input-field col m12">
				          <input id="email" type="email" name="email" class="validate" placeholder="이메일을 입력하세요.">
				        </div>
					</div>
					<div class="row">
			        <div class="input-field col m12">
			            <input id="password" type="password" name="password" class="validate" placeholder="비밀번호를 입력하세요.">
			          </div>
			        </div>
			        <div class="row">
						<a class="col s10 offset-s1 waves-effect waves-light btn btn-login z-depth-2">로그인</a>
						<a class="col s10 offset-s1 waves-effect waves-light btn btn-dismiss z-depth-2">취소</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script>
	var modalWasOpened = false;
	
	$(document).ready(function(){
		$('body').css({
			'height' : $(document).height()+'px'
		});
		
	    $('.slider').slider({full_width: true, height: $(document).height(), indicators: false});
	    $('.btn-container').css({
	    	'left': ($(window).width()/2 - $('.btn-container').width()/2)+'px'
	    });
	    
	    $('.modal').modal({
	    	dismissible: true,
	        opacity: .1,
	        in_duration: 180,
	        out_duration: 180,
	        starting_top: '20%',
	        ending_top: '20%',
	        ready: function(modal, trigger) {
	        	if(!modalWasOpened){
	        		/*
	        		$(modal).css({
		        		'width' : $('.login.container').width(),
		        		'transition' : '0.4s',
		        		'border-radius' : '20px'
		        	});
	        		modalWasOpened = true;
	        		*/
	        	}
	        },
	        complete: function() { }
	    });
	 });

	$('.open-modal-btn').click(function(){
		$('.modal').modal('open');
	});
	
	$('.btn-login').click(function(){
		var $loginForm = $('#login-form');
		$loginForm.submit(function(){
			return false;
		});
		
		var params = $loginForm.serialize();
		$.ajax({
			url : '/rest/member/login',
			type : 'POST',
			data : params,
			success : function(result){
				if(result){
					Materialize.toast(result, 1000);
					setTimeout(function(){
						location.href="/";
					}, 1000);
				}
			},
			error : function(err){
				Materialize.toast(err.responseJSON, 1500);
			}
		});
	});
	
	$('.btn-dismiss').click(function(){
		$('.modal').modal('close');
	});
</script>
</body>
</html>