<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title>Teamk</title>
</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link rel="stylesheet" href="/public/stylesheet/main-page.css">
<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/public/js/commons/app.js"></script>
<script src="/public/js/commons/calendar.js"></script>
<script src="/public/js/message/controller/message-box-controller.js"></script>
<script src="/public/js/message/controller/message-send-controller.js"></script>
<script src="/public/js/chat/controller/chat-controller.js"></script>
<script src="/public/js/post/controller/post-controller.js"></script>
<script src="/public/js/main/directive/page-button.js"></script>
<script src="/public/js/message/directive/message-directive.js"></script>
<body ng-app="angular-app">
	<header>
		<nav>
			<div class="nav-wrapper" ng-controller="messageBoxController">
				<a href="#/" class="brand-logo">Burning Web</a>
				<a href="#/" data-activates="mobile-demo" class="button-collapse"><i class="large material-icons">insert_chart</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li ng-if="unreadMessages > 0"><span class="new badge red" data-badge-caption="개의 읽지않은 메세지">{{unreadMessages}}</span></li>
					<li class="message-btn"><a class="dropdown-button" data-activates='message-list'><i class="large material-icons">email</i></a></li>
					<li><a href="#post">포스팅</a></li>
					<li><a href="#chat">방명록</a></li>
					<li><a href="/logout">로그아웃</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><i class="large material-icons">email</i><a href="#message-box">메시지함    <span ng-if="unreadMessages > 0" class="new badge red" data-badge-caption="messages">{{messageLength}}</span></a></li>
			        <li><a href="#post">포스팅</a></li>
					<li><a href="#chat">방명록</a></li>
					<li><a href="/logout">로그아웃</a></li>
	      		</ul>
	      		<div class="message-wrapper">
					<ul id='message-list' class='dropdown-content'>
						<li ng-repeat="message in messages | limitTo:5"><a>{{message.content}}</a></li>
						<li class="divider"></li>
						<li><a href="#message-box">메시지함</a></li>
					</ul>
	      		</div>
			</div>
		</nav>
	</header>

	<main>
		<div class="ng-view"></div>
	</main>

	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">불타는 웹페이지</h5>
					<p class="grey-text text-lighten-4">TeamK</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">만든사람</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Made by 강승윤</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">© 2016 Copyright Reserved 
				<a class="grey-text text-lighten-4 right" target="_blank" href="https://www.facebook.com/kangkrkr">페이스북</a>
			</div>
		</div>
	</footer>

	<script>
		$(document).ready(function() {
			$(".button-collapse").sideNav({
				menuWidth : 180, // Default is 240
				edge : 'left', // Choose the horizontal origin
				closeOnClick : true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
				draggable : true
			});
			$('.dropdown-button').dropdown({
				inDuration : 300,
				outDuration : 225,
				constrain_width : false, // Does not change width of dropdown to that of the activator
				hover : false, // Activate on hover
				gutter : 0, // Spacing from edge
				belowOrigin : true, // Displays dropdown below the button
				alignment : 'right' // Displays dropdown with edge aligned to the left of button
			});
		});
	</script>
</body>
</html>