<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title>불타는 웹 스터디</title>
</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link rel="stylesheet" href="/public/stylesheet/main-page.css">
<link rel="stylesheet" href="/public/stylesheet/test.css">
<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/jquery/jquery.form.js"></script>
<script src="/lib/jquery/jquery.MultiFile.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-route.min.js"></script>
<script src="/lib/socketjs/sockjs-1.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/js/socket.js"></script>
<script type="text/javascript" src="/public/js/app.js"></script>
<script type="text/javascript" src="/public/js/calendar.js"></script>
<script type="text/javascript" src="/public/js/init.js"></script>
<body ng-app="angular-app">

	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Burning Web</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="large material-icons">insert_chart</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#post">포스팅</a></li>
					<li><a href="#chat">방명록</a></li>
					<li><a href="/logout">로그아웃</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
			        <li><a href="#post">포스팅</a></li>
					<li><a href="#chat">방명록</a></li>
					<li><a href="/logout">로그아웃</a></li>
	      		</ul>
			</div>
		</nav>
	</header>

	<main>
		<div class="ng-view"></div>
	</main>

	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">불타는 스터디</h5>
					<p class="grey-text text-lighten-4">포트폴리오용 사이트입니다.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">스터디원</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">팀장 강승윤</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">부팀장 채희동</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">창현이형</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">© 2016 Copyright Reserved 
				<a class="grey-text text-lighten-4 right" target="_blank" href="https://www.facebook.com/kangkrkr">페이스북</a>
			</div>
		</div>
	</footer>


	<script>
		$(document).ready(function() {
			$(".button-collapse").sideNav();
		});

		var app = angular.module('angular-app', [ 'ngRoute' ]);

		app.config(function($routeProvider, $locationProvider) {
			$routeProvider.when("/post", {
				templateUrl : "/public/view/post.html",
				controller : "postController"
			}).when("/chat", {
				templateUrl : "/public/view/test.html",
				controller: "chatController"
			});
		});
		
		app.controller('chatController', function($scope){
			$('body').height($(window).height());
			init();
		});
		
		app.controller('postController', function($scope, $http) {

			$scope.page = 1;	// 초기 페이지넘버 설정.
			$scope.size = 5;	// 페이지당 게시글 수 설정.
			$scope.max = 1;		// 초기 page block 수 설정.
			
			$scope.pageButtons = [];
			$scope.viewAvailable = [];
			
			$http({
				method : 'POST',
				url : '/rest/member/current'
			}).success(function(res){
				$scope.currentMember = res;
			}).error(function(err){Materialize.toast("사용자 정보를 불러오는데 실패하였습니다.", 2000);})

			$http.get('/rest/post/count').then(function(res){
				$scope.max = Math.ceil(res.data / $scope.size);
			});
			
			$scope.getMax = function(max){
				return new Array(max);
			};
			
			$scope.prev = function(){
				if($scope.page - 1 <= 0){
					$scope.page = 1;
					return;
				}
				
				$scope.pagination($scope.page-1);
			};
			
			$scope.next = function(){
				if($scope.page + 1 > $scope.max){
					$scope.page = $scope.max;
					return;
				}
				
				$scope.pagination($scope.page+1);
			};
			
			$scope.pagination = function(page){
				$scope.page = page;
				$scope.viewAvailable = [];	// viewAvailable 초기화.
				
				var e = $scope.pageButtons[page-1];
				
				$(e).addClass('active');
				$(e).parent().find('li.page-button').not(e).removeClass('active');
				
				$http.get('/rest/post?page='+page).then(function(res){
					$scope.posts = res.data;
				});
			};
			
			$scope.pagination(1);
			
			$scope.postView = function(id){
				$scope.viewAvailable[id] ^= true;
				if(!$scope.viewAvailable[id]) return;
				$http.get('/rest/post/'+id).then(function(res){
					$scope.items = [];
					$scope.items[id] = res.data;
				});
			};
			
			$scope.postEdit = function(id){
				Materialize.toast("수정기능은 아직 제공되지 않습니다.", 1000);
			};
			
			$scope.postDelete = function(id){
				$http({
					method : 'DELETE',
					url : '/rest/post/'+id
				}).success(function(res){
					Materialize.toast("삭제에 성공하였습니다.", 700);
					setTimeout(function(){
						location.reload(true);
					}, 700);
				}).error(function(err){Materialize.toast("해당글을 삭제하는데 실패하였습니다.", 1000);})
			};
		});
		
		app.directive('pageButton', function(){
			return {
				restrict: "C",
				link: function(s, e, a, c){
					// scope 변수에 해당 directive가 적용된 엘리먼트들을 모두 담는다. 
					s.$parent.pageButtons.push(e); 	
				}
			};
		});
	</script>
</body>
</html>