<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="/public/stylesheet/main-page.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<body ng-app="angular-app">
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Buring Web</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/#test1">구현예정1</a></li>
				<li><a href="/#chat">채팅</a></li>
				<li><a href="/logout">로그아웃</a></li>
			</ul>
		</div>
	</nav>

	<div class="ng-view"></div>
	
	<script src="/lib/jquery/jquery.js"></script>
	<script src="/lib/angular/angular.min.js"></script>
	<script src="/lib/angular/angular-route.min.js"></script>
	<script src="/lib/socketjs/sockjs-1.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script src="/public/js/socket.js"></script>
	<script src="/public/js/calendar.js"></script>
	
	<script>
		var app = angular.module('angular-app', [ 'ngRoute' ]);

		app.config(function($routeProvider, $locationProvider) {
			$routeProvider.when("/test1", {
				templateUrl : "/public/view/noplan.html"
			}).when("/chat", {
				templateUrl : "/public/view/test.html",
				controller: "chatController"
			});
			
			/*
			$locationProvider.html5Mode({
				enabled : true,
				requireBase : false
			});
			*/
		});
	</script>
</body>
</html>