<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title>메세지함</title>
<link rel="stylesheet" href="/public/stylesheet/message-box-page.css">
</head>
<body class="row">
	<div class="row">
		<blockquote class="col s8 offset-s2 m8 offset-m2">
	      	메세지 목록
	    </blockquote>
		<div class="col s8 offset-s2 m8 offset-m2 collection">
			<a href="#!" class="collection-item">박현요님이 메세지를 보냈습니다.</a> 
			<a href="#!" class="collection-item">강승윤님이 친구추가 요청을 보냈습니다.</a> 
			<a href="#!" class="collection-item">회원가입을 환영합니다!</a> 
		</div>
	</div>
</body>
</html>