<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h6 class="center-align">여기다가는 게시글 업로드 기능을 넣을 예정.</h6>
	<div class="row">
		<div class="col m6 offset-m3">
			<div class="card z-depth-4">
				<div class="card-image">
					<img src="/public/img/card.JPG" height="300px"> <span class="card-title">게시글 제목</span>
				</div>
				<div class="card-content">
					<p>가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하</p>
				</div>
				<div class="card-action">
					<a href="#">링크를 걸 수도 있다.</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>