<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="/public/stylesheet/test.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<script src="/lib/jquery/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<body onload="init();">
	<div id="message-container" class="row">
		<form id="form" class="col s10 offset-s1">
			<div id="input-field" class="input-field">
				<label id="message-label" for="message">메시지를 입력후 아래 버튼을 눌러보세요.</label>
				<textarea id="message" class="materialize-textarea" ></textarea>
				<a class="waves-effect waves-light btn col s8 offset-s2" onclick="send(this);">입력</a>
			</div>
			
			<div id="chat-container" class="row">
				<blockquote class="col s8 offset-s2">
			      <h4>대화 목록</h4>
			    </blockquote>
				<div class="col s12 chat-list">
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="/public/js/audio.js"></script>
	<script type="text/javascript" src="/public/js/socket.js"></script>
	<script type="text/javascript" src="/public/js/app.js"></script>
	<script type="text/javascript" src="/public/js/calendar.js"></script>
	<script type="text/javascript" src="/public/js/init.js"></script>
</body>
</html>